/tox.ini
/test-requirements.txt
/Dockerfile
/.travis.yml
/.dockerignore
/fuji_server/tests/
/fuji_server/cuba/
/fuji_server/logs/
.idea/
*.pyc
/build/
!/fuji_server/data/google_search_dois.txt
!/fuji_server/data/google_search_urls.txt
