werkzeug~=1.0.0
lxml~=4.5.0
rdflib~=4.2.2
six~=1.14.0
extruct~=0.9.0
jmespath~=0.9.5
idutils~=1.1.5
requests[security]~=2.24.0
connexion >= 2.2.0
python_dateutil >= 2.6.0
setuptools >= 21.0.0
Jinja2>=2.10.1
PyYAML>=5.1
configparser~=5.0.0
pyopenssl
tika~=1.24
rapidfuzz~=0.9.1
SPARQLWrapper~=1.8.5
python-Levenshtein
swagger_ui_bundle
yaml~=0.1.7
urlextract~=1.2.0
beautifulsoup4~=4.8.2