SPARQLWrapper
beautifulsoup4
lxml
rdflib
six
extruct
jmespath
idutils
requests[security]
connexion >= 2.2.0
python_dateutil >= 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle
Jinja2>=2.10.1
PyYAML>=5.1
configparser
pyopenssl