requests~=2.24.0
pyyaml~=5.3
connexion[swagger-ui]~=2.7.0
extruct~=0.9.0
rdflib~=4.2.2
idutils~=1.1.5
lxml>=4.6.3
Levenshtein~=0.12.0
sparqlwrapper~=1.8.5
jmespath~=0.9.5
six~=1.15.0
connexion~=2.7.0
tika~=1.24
configparser~=5.0.0
werkzeug~=2.0
rapidfuzz~=0.9.1
setuptools~=45.2.0
urlextract~=1.2.0
feedparser~=6.0.2
beautifulsoup4~=4.8.2
hashid~=3.1.4
pandas~=1.2.1
tldextract~=3.1.0