interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ws.pangaea.de/oai/?verb=ListMetadataFormats
  response:
    body:
      string: ''
    headers:
      Location:
      - https://ws.pangaea.de/oai/provider?verb=ListMetadataFormats
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://ws.pangaea.de/oai/provider?verb=ListMetadataFormats
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type="text/xsl"
        href="oai2.xsl"?><OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><responseDate>2023-08-31T15:25:08Z</responseDate><request
        verb="ListMetadataFormats">https://ws.pangaea.de/oai/provider</request><ListMetadataFormats><metadataFormat><metadataPrefix>oai_dc</metadataPrefix><schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema><metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace></metadataFormat><metadataFormat><metadataPrefix>pan_md</metadataPrefix><schema>http://ws.pangaea.de/schemas/pangaea/MetaData.xsd</schema><metadataNamespace>http://www.pangaea.de/MetaData</metadataNamespace></metadataFormat><metadataFormat><metadataPrefix>dif</metadataPrefix><schema>http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/dif_v9.4.xsd</schema><metadataNamespace>http://gcmd.gsfc.nasa.gov/Aboutus/xml/dif/</metadataNamespace></metadat[...]
